.logo {
    height: 20em; /* diminui para caber melhor */
    padding: 0;   /* remove padding extra */
    will-change: transform, filter;
    transition: transform 0.3s ease-in-out, filter 0.6s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
    filter:
            drop-shadow(0 0 1em rgba(102, 51, 153, 0.7))
            drop-shadow(0 0 3em rgba(102, 51, 153, 0.7))
            drop-shadow(0 0 5em rgba(102, 51, 153, 0.7));
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
    margin-bottom: 3em;       /* mantém o padding interno */
    margin-top: 1em;  /* diminui a distância do topo */
}


.read-the-docs {
  color: #888;
}

body {
    background: url("./assets/Floresta2.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* apenas quando estiver na Home */
body.home-body {
    overflow: hidden;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* melhora contraste do texto */
    text-shadow: 0 2px 4px rgba(0,0,0,0.5); /* deixa o texto legível */
}

.petal {
    position: absolute;
    top: -20px;
    width: 25px;
    height: 45px;
    background: mediumpurple;
    opacity: 0.8;
    border-radius: 50% 50% 40% 40% / 60% 60% 40% 40%; /* pétala curva */
    animation: fall linear infinite;
}

@keyframes fall {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(360deg); }
}

.glass-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;
}




